.CoinsCounterCointainer{
  display: flex;
}
.Bets {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 0px;
    width: 800px;
  }
.ComputerBets{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  margin-top: -32px;
}
  button {
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  .Coins {
    margin: 0px;
    padding-top: 5px;
  }
  .nextTo{
    display: flex;
    flex-direction:row;
    gap:100px;

  }
  .Coins > img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 0;

  }
  .inputs{
    display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 40%;
        padding-right: 276px;
  }
  .input {

    appearance: none;
    height: 1px;
    background-color: #1b1b1b;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .input::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  .input::-webkit-slider-thumb:hover {
    background-color: #45a049;
  }
  .Values{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  .output {
    color: #f4b400;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
.newGame{
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0px;
  padding-right: 190px;
}
.endGame{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  @media screen and (min-width: 450px) {


  }
  @media screen and (min-width: 750px) {
 
  }
  @media screen and (min-width: 1200px) {
 
  }