.GamePageContainer{
    background-image: url("images.jpeg");
    background-size: cover;
    height: 300px;
    width: 500px;
}
.Player >img{
    height: 170px;
    width: 100px;
}
.Computer >img{
    height: 170px;
    width: 100px;
}