
  body{
 background-color: #1b1b1b; 
 height: 100vh;
 width: 100vw;
}
  
  .GamePageContainer {
    background-image: url("images.jpeg");
     background-size: cover;
      width: 90%; 
     max-width: 600px;
       max-height: 450px; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     border-radius: 15px;
     flex-direction: column;
  }

  .Computer{
    display: flex;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    flex-direction: row;
  }
    .Player {
  display: flex;
  flex-direction: row;

    }
  .playerCards{
    display: flex;
    align-items: end;
  }
  .Computer h2,
  .Player h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin-bottom: 10px;
    color: #f4b400; 
  }
  
  .cards {
    display: flex;
    gap: 10px;
    margin: 0;
  }
  
  img {
    width: 80px;
    height: 120px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  button:active {
    background-color: #3e8e41;
  }
  
  .CoinsCounter {
    color: #fff;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    border-radius: 8px;
   
  }


  @media screen and (min-width: 450px) {
    .GamePageContainer {
      width:  100%; 
      max-width: 900px; 
      height: 600px;
    }

  }
  @media screen and (min-width: 750px) {
    .GamePageContainer {
      width:  100%; 
      max-width: 800px; 
      height: 500px;
    }
  }
  @media screen and (min-width: 1200px) {
    .GamePageContainer {
      width:  100%; 
      max-width: 700px; 
      height: 400px;
    }
  }